# EditorConfig (https://editorconfig.org)
# vim: set ft=toml ts=2 sw=2 sts=2 et ai:
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{lua,vim}]
max_line_length = 140
indent_size = 2

# See https://github.com/CppCXY/EmmyLuaCodeStyle/blob/master/lua.template.editorconfig
[*.lua]
indent_style = space
continuation_indent = 4
quote_style = double
table_separator_style = comma
trailing_table_separator = smart
call_arg_parentheses = keep
space_before_function_call_single_arg = keep
align_call_args = false
align_function_params = true
align_continuous_assign_statement = true
align_continuous_rect_table_field = true
align_continuous_line_space = 2
align_if_branch = true
align_array_table = true
align_continuous_similar_call_args = true
align_continuous_inline_comment = true

[*.vim]
indent_style = tab

[*.sh]
indent_style = space
indent_size = 2

switch_case_indent = false  # like -ci
space_redirects    = true  # like -sr
keep_padding       = true  # like -kp
never_split        = true  # like -ns
