[user]
    name = Sneha De
    email = 55897319+sneha-afk@users.noreply.github.com

[init]
	defaultBranch = main

[core]
    editor = nvim
	autocrlf = input

[diff]
    tool = nvimdiff
[difftool]
    prompt = false
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[push]
    autoSetupRemote = true

[merge]
    tool = nvimdiff
[mergetool]
    prompt = true
    keepBackup = false
[mergetool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\" \"$MERGED\" -c '$wincmd w' -c 'wincmd J'"

[http]
    postBuffer = 1048576000

[alias]
    s   = status
    sb  = status -sb
    a   = add
    aa  = add --all
    c   = commit
    cm  = commit -m
    ca  = commit --amend --no-edit
    co  = checkout
    p   = push
    pf  = push --force-with-lease
    pr  = pull --rebase
    lo  = log --oneline -n 10
    lg  = log --graph --pretty=format:'%Cred%h%r %Creset%s %C(bold blue)<%an>%Creset %Cgreen(%cr)%Creset%C(auto)%d' --abbrev-commit --all
    last = log -1 HEAD --stat
    dt  = difftool
    mt  = mergetool
    standup = "!git log --all --author=\"$(git config user.name)\" --since='1 day ago' --oneline"
    root = rev-parse --show-toplevel
